<h5 class="center">Usuarios </h5>
<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Dirección</th>
        <th scope="col">País</th>
        <th scope="col">Código Postal</th>
        <th scope="col">Estudios</th>
        <th scope="col">Ocupación</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let per of users">
       
        <td>{{per.nombre}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button type="button" class="btn btn-outline-secondary">Editar</button></td>
      </tr>

     
     
    </tbody>
  </table>
  <app-modal  >

  </app-modal>
 